body,
html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  background-color: #2c3135;
  display: flex;
  align-items: center;
  justify-content: center;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.flex {
  display: flex;

  &.column {
    flex-direction: column;
  }
  &.align-center {
    align-items: center;
  }
  &.justify-center {
    justify-content: center;
  }
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}
