$base-padding: 10px;
$large-padding: 2.5em;
$small-padding: 5px;
$font-size-tiny: 12px;
$font-size-small: 14px;
$font-size-normal: 16px;
$font-size-large: 20px;
$font-size-giant: 32px;
$font-size-huge: 48px;
$font-weight-0: 100;
$font-weight-1: 300;
$font-weight-2: 400;
$font-weight-3: 600;